
{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style_festival_each.css' %}" >

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Leckerli+One|Metrophobic' rel='stylesheet' type='text/css'>
  
</head>
<body>

	<div class="wrapper_inner">
	<div class="gallery ">
		<div class="">
			<div class="gallery_item_full ">
          		<div class="box">
            		<img src="{{post.picture}}"/>
                <div class="heart"><i class="fa fa-heart"></i></div>
            		<div class="row">
            			<div class="col-lg-4">
            				<h3>{{post.festival_id.name}}, {{post.location}}</h3>
            			</div>
            		
            		</div>
            	   <div class="row">
                    <div class="col-lg-4">
                      <h5 class="postName">Posted by: <a target="_blank" href="personal.html">{{post.user_id.name}}</a></h5>
                    </div>
                    <div class="col-lg-2">
                      <h5>
                         <!--<img src="img/profilePic.jpg" class="img-circle"> -->
                      </h5>
                    </div> 
                  </div>
            		<div>
            			<p>{{post.content}}</p>
            		</div> 
            		
            		
            			 
            		
            		
            		
            		<div id="comments">
            			
            			<section>
            			{% for comment in post.comments.all %}	
            				<img src="{% static 'img/profilePic.jpg' %}" alt=""/>
					     	<article>
					       		<h4>
					        		{{comment.user_id.name}}
					       		</h4>
						       	<p>
						         	{{comment.content|linebreaks}}
						       	</p>
					     	</article>
					     	<br>
					     	{% empty %}
    							<p>No comments here yet :(</p>
            			 	
                		{% endfor %}
            			</section>
            		
            			<div class="row">
                  	<div class="col-lg-4">
             			<form method="POST" class="post-form">{% csrf_token %}
        					{{ form.as_p }}
        				<button type="submit" class="save btn btn-default">Send</button>
						
                		</div>
            			</div>
            		
            		

            		 
            		
          		</div>
        	</div>
		</div>
	</div>
		
	</div>
	
	<script src="{% static 'bootstrap/js/jquery-3.1.1.js' %}"></script>
  	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  
	<script>
		$(document).ready(function() {
          // pulse heart button
          $('.heart').click(function() {
            $(this).toggleClass("liked");
          });
         
    //     $('body').on('click','#add_comment',function(){
    // 	var url = $(this).attr("href");
      
    //     alert(url );
    // 	var stateObj = { page: url };
    // 	window.history.pushState(stateObj, "", url);
     
     
       
        
       
      
      
       
         
    //   // hide scroll
      
    // });
    });
    
	</script>
	
	
	 
</body>
</html>