{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style_festival_each.css' %}" >
	<link href="{%static 'css/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
</head>
<body>

	<div class="wrapper_inner">
	<div class="gallery ">
		<div class="">
			<div class="gallery_item_full ">
          		<div class="box">
          			
            		<img src="{{post.picture}}"/>
            		<div class="row" >
						<div class="col-lg-6 col-lg-offset-6">
							{% if logined %}
							<button class="heart post-likes" id='' data-post-id="{{ post.id }}">
								
					               	{% if liked %}
					               		<i class="fa fa-heart clicked " id="heart_clicked" ></i>
					               	{% else %}
					               		<i class="fa fa-heart" id="heart_not_clicked"></i>
					               	{% endif %}
				            
		                		</button>
		                		<div class="like_count_blog" id="heart-counter{{post.id}}">{{ post.like_number }}</div>
							{% endif %}
						</div>
            			
                		<div class="col-lg-6 col-lg-offset-6 ">
                			
                		</div>
						
            			 
                		

            		</div>
            		<div class="row">
            			<div class="col-lg-4">
            				<h3>{{post.festival_id.festival.name}}</h3>
            			</div>
            		
            		</div>
            	   <div class="row">
                    <div class="col-lg-4">
                      <h5 class="postName">Posted by: <a target="_blank" href="{% url 'instival_database.views.showPersonal' user=post.user_id.id %}">{{post.user_id.name}}</a></h5>
                    </div>
                    <div class="col-lg-2">
                      <h5>
                         <!--<img src="img/profilePic.jpg" class="img-circle"> -->
                      </h5>
                    </div> 
                  </div>
            		<div>
            			<p>{{post.content}}</p>
            		</div> 
            		
            		
            			 
            		
            		
            		
            		<div id="comments">
            			
            			<section>
            			{% for comment in post.comments.all %}	
            				<img src="{{comment.user_id.profile_picture}}" alt=""/>
					     	<article>
					       		<h4>
					        		{{comment.user_id.name}}
					       		</h4>
						       	<p>
						         	{{comment.content|linebreaks}}
						       	</p>
					     	</article>
					     	<br>
					     	
            			 	
                		{% endfor %}
            			</section>
            			{% if logined %}
						<div class="row">
	                  		<div class="col-lg-4">
	             			<form method="POST" class="post-form">{% csrf_token %}
	        				 <input type="textarea" id="content_txtField" name="content">
	        				<button type="submit" class="save btn btn-default">Comment</button>
							
	                		</div>
        				</div>
        				{% endif %}
            		
            		

            		 
            		
          		</div>
        	</div>
		</div>
	</div>
		
	</div>
	
	<script src="{% static 'bootstrap/js/jquery-3.1.1.js' %}"></script>
  	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  
	<script>
		$(document).ready(function() {
          // pulse heart button
        
          $('.post-likes').click(function() {
          	
          		 $('i').toggleClass("clicked");
          	
        	var id;
        	id = $(this).attr('data-post-id');
    		 $.get('/like-blog/', {
            post_id: id
          }, function(data) {
            $('#heart-counter'+ id ).html(data);
            	
           
         });
         //$.get('/heart/', {
         //   post_id: id
         // }, function(data) {
         //   $('#heart-icon'+ id ).html(data);
            	
           
         //});
    	});

          
         
    
    });
    
	</script>
	
	
	 
</body>
</html>