<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

 	  <!-- Bootstrap Core CSS -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/style_login.css" rel="stylesheet">

</head>

<body>
    
  <div class="container">
    <div class="row">
      <div class="main">
        <h3>Please Log In, or <a href="#">Sign Up</a></h3>
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6">
            <a href="https://www.facebook.com" class="facebook">Facebook</a>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <a href="https://accounts.google.com/Login?hl=zh-tw" class="google">Google</a>
          </div>
        </div>
        <div class="login-or">
          <hr class="hr-or">
          <span class="span-or">or</span>
        </div>
  
        <form role="form">
          <div class="form-group">
            <label for="inputUsernameEmail">Username or email</label>
            <input type="text" class="form-control" id="inputUsernameEmail">
          </div>
          <div class="form-group">
            <a class="pull-right" href="#">Forgot password?</a>
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword">
          </div>
          <div class="checkbox pull-right">
            <label>
              <input type="checkbox">
              Remember me </label>
          </div>
          <input type="button" class="btn btn btn-primary" value="Log In" onclick="">
        </form>
      </div>
    </div>
  </div>

  <!-- jQuery -->
  <script src="../bootstrap/js/jquery-3.1.1.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="../bootstrap/js/bootstrap.min.js"></script>
    
    
</body>
</html>
