<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Sign Up</title>
    
     <!-- Bootstrap Core CSS -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="../static/css/style_signup.css" rel="stylesheet">
    <!--<link href="../static/css/style_login.css" rel="stylesheet">-->

</head>

<body>
    <div class="container">
        <div class="main">
          <h1>Sign up</h1>
          
          <input type="text" name="username" placeholder="Username" />
          <input type="text" name="email" placeholder="E-mail" />
          <input type="password" name="password" placeholder="Password" />
          <input type="password" name="password2" placeholder="Retype password" />
        
          <input type="submit" name="signup_submit" value="Sign me up" />
        </div>
        </div>
    </div>
    
    <!-- jQuery -->
    <script src="../bootstrap/js/jquery-3.1.1.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    
</body>
</html>