{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    
	<meta charset="UTF-8">
	<title>upload_photo</title>
	
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery.Jcrop.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/style_upload_photo.css' %}">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Leckerli+One|Metrophobic' type='text/css'>

<body>
    
    <div class="wrapper_inner">
    	<div class="gallery ">
    		<div class="">
              		
              		    <!-- load image -->
                        <input type="file" id="FileUpload1" accept=".jpg,.png,.gif" />
                    
                        <img  id="Image1" src="" alt="" style="display: none" />
                        
                        <br/>
                        <!-- crop button-->
                        <input type="button" id="btnCrop" value="Crop" style="display: none" />
                        <br/>
                        <br/>
                        <!-- canvas and save image-->
                        <canvas id="canvas" style="display: none" ></canvas>
                        <img id="saveimage"  />
                    
                        <br/>
                        <br/>
                        <input type="button" id="btnCrop" value="Crop" style="display: none" />
                        <input type="hidden" name="imgX1" id="imgX1" />
                        <input type="hidden" name="imgY1" id="imgY1" />
                        <input type="hidden" name="imgWidth" id="imgWidth" />
                        <input type="hidden" name="imgHeight" id="imgHeight" />
                        <input type="hidden" name="imgCropped" id="imgCropped" />
                        <input type="submit" id="btnSubmit" value="Submit" style="display: none" onClick="">
                   
    		</div>
    	</div>
		
	</div>

    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.Jcrop.min.js' %}"></script>
    <script src="{% static 'js/upload_photo.js' %}"></script>
</body>
</html>